@use './styles/abstracts' as *;
@use './styles/themes' as *;
@use './styles/base';
@use './styles/components';

* {
  box-sizing: border-box;
  font-family: text(family);
  font-size: text(font-size);
  font-weight: text(weight);
  line-height: text(line-height);
}

#app {
  @include themify($themes);

  background: themed(body, background);
  color: themed(text, color);
}

html,
body,
#app {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
}
